<a href="https://colab.research.google.com/github/cumbak1823/Phyton_Files/blob/master/06_Nov_lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
int("ten") #this is an example of Value Error

ValueError: ignored

In [2]:
import math

In [3]:
math.sqrt(25)

5.0

In [4]:
math.sqrt(-25) #This is another example...

ValueError: ignored

In [5]:
math.factorial(-4)

ValueError: ignored

In [6]:
math.log10(100)

2.0

In [8]:
math.log10(-100)

ValueError: ignored

**RECURSIVE FUNCTIONS**

In [10]:
def factoryal(num) :
  if num == 1 or num == 0 :
    return num 
  else :
    return num * factoryal(num-1)

In [11]:
factoryal(5)

120

In [ ]:
### NAME ERROR #####

In [12]:
print(variable)
variable='Dont give up'

NameError: ignored

In [14]:
while true:
    print("hi")

NameError: ignored

In [15]:
b= "string value 1"
c="string value 2"

print(b)
print(C)

string value 1

NameError: ignored

HANDLING EXCEPTIONS

In [16]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    division = no_one / no_two
    print("The result of the division is : ", division)
    break

The first number please : 7
The second number please : 3
The result of the division is :  2.3333333333333335

In [17]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    division = no_one / no_two
    print("The result of the division is : ", division)
    break

The first number please : 7
The second number please : 0

ZeroDivisionError: ignored

In [18]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two
        print("The result of the division is : ", division)
        break # burada break varken asagida yok...
    except:
        print("Something is wrong. Enter again")

The first number please : 7
The second number please : 0
Something is wrong. Enter again
The first number please : 8
The second number please : 4
The result of the division is :  2.0

In [19]:
while True:
    try:
        no_one = int(input("The first number please : "))
        no_two = int(input("The second number please : "))
    
        division = no_one / no_two
        print("The result of the division is : ", division)
        break # burada break varken asagida yok...
    except:
        print("Something is wrong. Enter again")

The first number please : 7
The second number please : t
Something is wrong. Enter again
The first number please : 7
The second number please : -1
The result of the division is :  -7.0

In [21]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))

    try:
        division = no_one / no_two
        print("The result of the division is : ", division)
        break # burada break varken asagida yok...
 
    except ZeroDivisionError:
        print("You tried to divide by zero. Enter again")

The first number please : 7
The second number please : 0
You tried to divide by zero. Enter again
The first number please : 8
The second number please : 4
The result of the division is :  2.0

In [ ]:
try:
    print(4+"4")

except:
    print("probable mistake")

probable mistake

In [ ]:
try:
    file =open("mytext.txt", "r")
    print(file.read())
    file.close
except FileNotFoundError: # BURADA YAZILAN ERROR ISMI ONEMLI. HANGI HATAYI KAPSADIGINI BELIRTIYORUZ
    print("There is no such a file")

There is no such a file

In [ ]:
try:
    a = 4+ "4"
    file =open("mytext.txt", "r")
    print(file.read())
    file.close
except FileNotFoundError: # BURADA YAZILAN ERROR ISMI ONEMLI. HANGI HATAYI KAPSADIGINI BELIRTIYORUZ
    print("There is no such a file")

except TypeError:
  print("The Type is Incorrect")

The Type is Incorrect

**FULL EXCEPTION HANDLING BLOCK**

In [ ]:
try:
  print("hi")
  sonuc = "4"+5
  print("Hello")

except ValueError:
  print("Type Error. Please control the type")

else:
  print(" Ooops. No exception raised")

finally:
  print("Its my turn in the end")

hi
Its my turn in the end

TypeError: ignored

In [ ]:
try:
  print("hi")
  sonuc = "4"+5
  print("Hello")

except :
  print("Type Error. Please control the type")

else:
  print(" Ooops. No exception raised")

finally:
  print("Its my turn in the end")

hi
Type Error. Please control the type
Its my turn in the end

In [ ]:
try:
  print("hi")
  sonuc = 4/4
  print("Hello")

except ValueError:
  print("Value error a göre işlem yap")

except TypeError:
  print("Type error a göre işlem yap")

except ZeroDivisionError:
  print("Zero Division error a göre işlem yap")

else:
  print(" Ooops. No exception raised")

finally:
  print("Its my turn in the end")

hi
Hello
 Ooops. No exception raised
Its my turn in the end

In [ ]:
while True:
  no_one = int(input("The first number please : "))
  no_two = int(input("The second number please : "))

  try:
    divi = no_one / no_two  # normal part of the program

  except ZeroDivisionError:
    print("You can't divide by zero! Try again.")  # executes when division by zero
  
  else:
    print("The result of the division is : ", division)  # executes if there is no exception
    
  finally:
    print("Thanks for using our mini divison calculator! Come again!")
    break  # exits the while loop

SyntaxError: ignored

In [ ]:
try:
  4+"4"

except Exception as variable: