<a href="https://colab.research.google.com/github/cumbak1823/Phyton_Files/blob/master/19_Nov_Teamwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num="123456"
numlis = list(num)
for i in numlis:
  print(i*int(i))

1
22
333
4444
55555
666666

In [ ]:
for x in set('pqr'):
  print(x*2)

qq
pp
rr

In [ ]:
ord("q")

113

In [ ]:
d = {"john":40, "peter":45} 
d["john"]
d["peter"]

45

In [ ]:
d = {"john":40, "peter":45} 
print(tuple(d.keys()))
print(list(d.keys()))
print(set(d.keys()))
print(list(d.values()))

('john', 'peter')
['john', 'peter']
{'john', 'peter'}
[40, 45]

In [ ]:
a={}
a['a']=1 
a['b']=[2,3,4]
print(a)

{'a': 1, 'b': [2, 3, 4]}

In [ ]:
z=set('abc') 
z.add('san') 
z.update(set(['p', 'q'])) 
print(z)

{'p', 'b', 'q', 'c', 'a', 'san'}

In [ ]:
count, fruit, price = (2, 'apple', 3.5)
type(count)
type(fruit)
print([count,type(count)],[fruit,type(fruit)],[price, type(price)],sep ="\n")

[2, <class 'int'>]
['apple', <class 'str'>]
[3.5, <class 'float'>]

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior'] 
print(dict(enumerate(college_years, 2019)))

{2019: 'Freshman', 2020: 'Sophomore', 2021: 'Junior', 2022: 'Senior'}

In [ ]:
num = int(input("enter a number"))
if num // num:
  print

In [ ]:
2//2

1

In [ ]:
2%3

2

In [ ]:
a = (2,3,4)
4

4

In [ ]:
tuple.__doc__

"Built-in immutable sequence.\n\nIf no argument is given, the constructor returns an empty tuple.\nIf iterable is specified the tuple is initialized from iterable's items.\n\nIf the argument is a tuple, the return value is the same object."